#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUMBER 1

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
	&kp Z    &kp X    &kp C    &kp V     &kp G                                                  &kp B     &kp F     &kp Y     &kp W     &kp Q    
	&kp K    &kp O    &kp R    &kp E     &kp M                                                  &kp H     &kp A     &kp I     &kp T     &kp J 
		 &kp D    &kp L    &kp N          						              &kp S     &kp U     &kp P
		                        		&kp LSHIFT   &kp SPACE 	&to NUMBER  &kp BKSP        
		                        		&kp TAB      &kp ENTER	&kp RCTRL   &kp RALT
	>;
    };

    number_layer {
      bindings = <
	&kp N1    &kp N2   &kp N3   &kp N4   &kp N5                                              &kp N6    &kp N7    &kp N8     &kp N9     &kp N0    
	&kp MINUS &kp LBKT &kp LBRC &kp LPAR &kp EQUAL                                           &kp SQT   &kp PG_UP &kp BSLH   &kp FSLH   &kp SEMI 
		  &kp RBKT &kp RBRC &kp RPAR          						           &kp PG_DN &kp COMMA  &kp DOT
		                        		&kp LEFT   &kp DOWN  &to DEFAULT &kp ESC        
		                        		&kp RIGHT  &kp UP    &kp RGUI    &kp RSHIFT
	>;
    };
  };
};
