#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
      // |    Z    |    X    |    C    |    V    |    G    |                                          |    B    |    F    |    Y    |    W    |    Q    |
      // |    K    |    O    |    R    |    E    |    M    |                                          |    H    |    A    |    I    |    T    |    J    |
      //           |    D    |    L    |    N    |                                                              |    S    |    U    |    P    | 
      //                                                   | LSHIFT  |  BKSP   |   |  RALT  |  SPACE  | 
      //                                                   |  TAB    |  LCTRL  |   |  ENTER |  RSHIFT | 
      bindings = <
	&kp Z    &kp X    &kp C    &kp V     &kp G                                                  &kp B     &kp F     &kp Y     &kp W     &kp Q    
	&kp K    &kp O    &kp R    &kp E     &kp M                                                  &kp H     &kp A     &kp I     &kp T     &kp J 
		 &kp D    &kp L    &kp N          						              &kp S     &kp U     &kp P
		                        		&kp LSHIFT   &kp BKSP	&kp RALT  &kp SPACE        
		                        		&kp TAB      &kp LCTRL	&kp ENTER &kp RSHIFT        
	>;
    };
  };
};
